/* Device Displays */

@media only screen and (max-width: 767px) {
  .mflex {
    display: block;
  }
  .mline {
    justify-content: center;
  }
  .mslim {
    display: none;
  }
  .navbar-item.depth.glowm {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .mflex {
    display: flex;
  }
  .mline {
    justify-content: end;
  }
  .navbar:first-child {
    margin-left: 3rem;
  }
  .navbar:last-child {
    margin-right: 3rem;
  }
}

/* Tag Overrides */

html {
  background:
    radial-gradient(ellipse at top left, #064494 30%, #042afb2e 40%),
    radial-gradient(ellipse at bottom left, #103b68 20%, transparent 40%),
    radial-gradient(ellipse at top right, #00529F 20%, #248cca80 50%),
    radial-gradient(ellipse at bottom right, #001626 20%, #00AAFD 35%);
  background-image: url(/Static/cloud_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #00f8ff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  color: #ecc906;
}
a.gold:hover {
  color: #00f8ff;
  text-shadow: 1px 1px 2px #047477;
}
a.navbar-item:hover, a.navbar-item:focus {
  background-color: #09F;
  color: #FFF;
}
footer {
  padding: 0.5rem;
  background-color: #0238a045;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 2px #0f0f0f5e;
  box-shadow: 0 -1px 2px #b1b1b10f
}
hr {
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0 0.7rem;
  background: linear-gradient(270deg, #7B68EE 0%, #09F 100%);
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
pre, .content pre {
  color: #ffffff;
  background: none;
  white-space: pre-wrap;
  word-wrap: normal;
  padding: 0;
}

/* Containers */

.content h1 {
  font-weight:300;
  font-size:2em;
  margin-bottom:.5em
}
.content table td, .content table th {
  border: none;
  color: inherit;
}
.hero-body {
  padding: 2rem 0rem;
}
.hero-body.splash, .hero.is-fullheight .hero-body.splash  {
  align-items: center;
  display: grid;
}
.is-fullwidth {
  width: 100%;
}
.tall {
  height: 100%;
}
.media-content {
  flex-basis: auto;
  flex-grow: 1;
  margin-top: 5px;
}
.outline {
  clear: both;
  background: #131b2db5;
  border: 5px double #09F;
  border-radius: 8px;
  box-shadow: 0 2px 3px #09F;
  padding: 10px;
  margin: 0 auto;
}
.subbox {
  background: #0F1720;
  border: 1px solid #185877;
  padding: 16px;
  max-width: 100%;
}
.inbox {
  background: #0B1120A8;
  border: 1px solid #1e4ca6c2;
  border-radius: 2px;
  padding: 16px;
  max-width: 100%;
  overflow: auto;
}
.space {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}

/* Text */

.center {
  justify-content: center;
  text-align: center;
}
.title, .title:not(:last-child) {
  font-weight: 300;
  background-color: Transparent;
  margin-bottom: 0.5rem;
}
.subtitle {
  color: #FFFFFF;
}
.blue {
  color: #0099FF;
  text-shadow: 1px 1px 1px #030739e0;
}
.gold {
  color:#ffd700;
}
.media {
  align-items: center;
  text-align: -moz-center;
}
.navbar-item, .navbar-link {
  color: #FFFFFF;
  font-size: 1.1em;
  padding: .5em 1em .25em 1em;
}
.navbar-item img {
  max-height: fit-content;
}
.code {
  font-family: monospace;
  color: #0099FF;
  background-color: #000000;
}
.depth {
  filter: drop-shadow(3px 3px 2px #0000004f);
}
.glow {
  filter: drop-shadow(1px 1px 5px #c4c4c4db);
}
.glowm:hover {
  filter: drop-shadow(1px 1px 5px #c4c4c4db);
}
p.btext {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}
.wrap {
  white-space: wrap;
}

/* Button Classes */

.button.is-info, .button.is-info:focus:not(:disabled) {
  background-color: #0224644f;
  border-color: #09F;
  color: #fff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button.search {
  left: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.button:hover:not(:disabled) {
  background-color: #0099FF;
  border-color: transparent;
  color: #fff;
}
.button.is-active, .button:active, .button.is-focused, .button:focus {
  color: #fff;
}
.stack {
  background-color: #004573;
  border-color: #FFD700;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 50px #ffd700;
  margin: 0 auto;
  display: block;
  height: 100%;
}
.stack:before, .stack:after {
  position: absolute;
  width: 140%;
  height: 100%;
  left: -20%;
  transition: all ease-in-out 0.5s;
}
.stack:active:not(.okay) {
  transform: scale(0.9);
  background-color: #008ae6;
}
.stack.okay, .button.stack:focus:not(:active) {
  box-shadow: 1px 1px 50px #016801;
}
.return {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  background-color: #02246491;
  border-color: #09F;
  color: #d5d5d5;
  border-radius: 100%;
  height: 32px;
  width: 32px;
}
.input::placeholder {
  color: #0000009e;
}
.input {
  margin-right: 5px;
}
.input.bar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-box {
  display: flex;
  min-width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Misc Classes */

.ada {
  height: 0;
  width: 0;
  visibility: hidden;
  position:absolute;

}
.data-display {
  -ms-overflow-style: none;
  max-height: 325px;
  overflow-y: scroll;
}
.okay {
  color: #fdf5d5;
  background-color: #0264084a !important;
  border: 1px solid #00ff3475 !important;
}
.mask {
  background-color: #00000029;
}
.tag:not(body).is-info {
  background-color: #09F;
  color: #000;
  float: right;
}

/* SVG Icons */

.ico {
  font-family: boxicons !important;
  font-size: 16pt;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: inherit;
  display: inline-block;
  text-transform: none;
}
.ico-dot::after, .ico-tart::after, .ico-eyebeast::after, .ico-search::after, .ico-rmm::after {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-size: contain;
  margin-right: 0.3rem;
}
.ico-dot::after {
  background-image: url("dot.svg");
}
.ico-tart::after {
  background-image: url("tart.svg");
}
.ico-eyebeast::after {
  background-image: url("eyebeast.svg");
}
.ico-search::after {
  background-image: url("search.svg");
}
.ico-rmm::after {
  background-image: url("rmm.svg");
}